<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('bedard/formbuilder/forms') ?>">Forms</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="layout-item stretch layout-column form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('bedard/formbuilder/forms') ?>" class="btn btn-default">Return to forms list</a></p>

<?php endif ?>