.form-tabless-fields {
    padding: 0 20px;
}
.modal-content .form-tabless-fields {
    padding: 0 0;
}

.control-form .tab-pane, .form-buttons {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.control-form .tab-pane:first-of-type {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#FormItems-formFormitems-item-list-formitems {
    margin-top: 0;
}