<?php
    $groupStatus = true;
?>
<li
    data-status="<?= $groupStatus ? 'expanded' : 'collapsed' ?>"
    data-form-item="<?= e(json_encode($field->toArray())) ?>"
    data-validation="<?= htmlspecialchars(json_encode($field->rules)) ?>"
    data-validation-messages="<?= htmlspecialchars(json_encode($field->customMessages)) ?>"
>
    <div>
        <a href="#" data-form-item-link>
            <div>
                <span data-reference="name"><?= $field->name ?></span>
                <span data-reference="is_required">
                    <?php if ($field->is_required) echo '*' ?>
                </span>
            </div>
            <div class="comment">
                <label data-reference="type"><?= $field->type ?></label>
                <input type="hidden" name="FieldData[]" value="<?= htmlspecialchars(json_encode($field->toArray())) ?>" />
            </div>
        </a>

        <ul class="submenu">
            <li>
                <p>
                    <a href="javascript:;" data-control="delete-form-item">
                        <i class="icon-trash-o control-icon"></i>
                    </a>
                </p>
            </li>
        </ul>
    </div>
</li>