<ol>
    <?php if ($fields): ?>
        <?php foreach ($fields as $field): ?>
            <?= $this->makePartial('field', ['field' => $field]) ?>
        <?php endforeach ?>
    <?php endif ?>
</ol>

<a href="javascript:;"
    data-hotkey="ctrl+i, cmd+i"
    data-control="add-item"
    class="menu-control"
    >
    <i class="icon-plus"></i>Add Field
</a>