<div
    class="layout-absolute"
    data-control="form-item-editor"
    data-alias="<?= $this->alias ?>"
    data-item-properties="<?= e($attributes) ?>"
>

    <div class="control-treeview light" data-control="treeview">
        <?= $this->makePartial('fields', ['fields' => $fields]) ?>
    </div>

    <script type="text/template" data-editor-template>
        <?= $this->makePartial('editortemplate') ?>
    </script>

    <script type="text/template" data-item-template>
        <?= $this->makePartial('field', ['field' => $emptyField]) ?>
    </script>

</div>